<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--    for Tomcat    -->
    <!--<display-name>Telegram-bot-for-block-1C</display-name>
    <servlet>
        <servlet-name>Telegram-bot-for-block-1C</servlet-name>
        <servlet-class>info.fermercentr.App</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Telegram-bot-for-block-1C</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->

</web-app>